@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Tahoma';
    src: url('/gosi-frontend/public/fonts/103-Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
  }
  body {
    font-family: 'Tahoma', sans-serif;
  }
 